<div class="panel-box" style="background-color: rgb(162, 235, 171); padding: 20px;">
  <h2>{{title}}</h2>
  <hr>

  <div class="row">
    <div class="col-auto">
      <app-team-config *ngFor="let team of teams; let i = index" [team]="team" [index]="i">
      </app-team-config>
    </div>
  </div>

  <!-- <div class="row">
      <div class="col-auto">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div> -->
</div>